wp/wp-*.php
wp/xmlrpc.php
wp/index.php
wp/.htaccess
wp/license.txt
wp/readme.html
wp/wp-admin
wp/wp-includes
wp/wp-content/uploads
wp/wp-content/upgrade
wp/wp-content/index.php
wp/wp-content/plugins
wp/wp-content/themes/*.php

twentynineteen
twentyseventeen
twentysixteen
twentyfifteen

db-data/**/*