# --------------------------------------
# For Wordpress Directory
# --------------------------------------

# WordPress core
/wp-*.php
/xmlrpc.php
/index.php
/.htaccess
/license.txt
/readme.html
wp-admin/
wp-includes/

# wp-content
wp-content/uploads/
wp-content/upgrade/
wp-content/index.php
wp-content/plugins/
wp-content/languages/
wp-content/themes/*.php

# default themes
twentynineteen
twentyseventeen
twentysixteen
twentyfifteen